<i 
  *ngIf="!match.leaver"
  class="fa fa-home team-icons positive" 
  aria-hidden="true"></i>
<i 
  *ngIf="match.leaver"
  class="fa fa-suitcase team-icons negative" 
  aria-hidden="true"></i>
<i 
  *ngIf="!match.snowflake"
  class="fa fa-snowflake-o team-icons positive" 
  aria-hidden="true"></i>
<i 
  *ngIf="match.snowflake"
  class="fa fa-fire-extinguisher team-icons negative" 
  aria-hidden="true"></i>
<i 
  *ngIf="match.communication"
  class="fa fa-microphone team-icons positive" 
  aria-hidden="true"></i>
<i 
  *ngIf="!match.communication"
  class="fa fa-microphone-slash team-icons negative" 
  aria-hidden="true"></i>