<h1 class="title col-md-12 text-center">SR Ranking</h1>
<div *ngIf="!loading" class="col-md-12 graph-container">
    <div class="graph-box">
        <canvas baseChart #srGraph
                    (mousedown)="mouseDown($event)"
                    (mouseup)="mouseUp($event)"
                    (mouseleave)="mouseLeave($event)"
                    (mousemove)="mouseMove($event)"
                    (wheel)="wheelEvent($event)"
                    [datasets]="datasets"
                    [labels]="labels"
                    [colors]="colors"
                    [options]="options"
                    [legend]="true"
                    [chartType]="type"></canvas>
        <h3 class="text-center">Viewing matches {{lowerbounds + 1}} to {{upperbounds}} of {{matches.length}}</h3>
    </div>
</div>

