<h1>{{title}}</h1>
<form [formGroup]='form' (ngSubmit)="saveMap()">
  <div class="form-group">
    <label for="map">Map</label>
    <select class="form-control" id="map" formControlName="map">
      <option *ngFor="let map of maps">{{map}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="outcome">Outcome</label>
    <select class="form-control" id="outcome" formControlName="outcome" >
      <option>Won</option>
      <option>Draw</option>
      <option>Lost</option>
    </select>
  </div>
  <div class="form-group">
    <label for="kendrick_sr">Kendrick's SR</label>
    <input class="form-control" id="kendrick_sr" formControlName="kendrick_sr">
  </div>
  <div class="form-group">
    <label for="tim_sr">Tim's SR</label>
    <input class="form-control" id="tim_sr" formControlName="tim_sr">
  </div>
  <app-match-form-toggles 
    [leaver]="leaver"
    [snowflake]="snowflake" 
    [communication]="communication" 
    (update)="updateValues($event)"></app-match-form-toggles>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="!form.valid">Save Match</button>
  </div>
</form>