<div class="icon-btn-container">
  <div class="toggle-icon" (click)="leaver = !leaver; sendUpdate()">
    <p 
      class="negative" 
      *ngIf="leaver"><i class="fa fa-suitcase fa-3x" aria-hidden="true"></i></p>
    <p 
      class="positive" 
      *ngIf="!leaver"><i class="fa fa-home fa-3x" aria-hidden="true"></i></p>
  </div>
  <div class="toggle-icon" (click)="snowflake = !snowflake; sendUpdate()">
    <p 
      class="negative" 
      *ngIf="snowflake"><i class="fa fa-fire-extinguisher fa-3x" aria-hidden="true"></i></p>
    <p 
      class="positive" 
      *ngIf="!snowflake"><i class="fa fa-snowflake-o fa-3x" aria-hidden="true"></i></p>
  </div>
  <div class="toggle-icon" (click)="communication = !communication; sendUpdate()">
    <p 
      class="positive" 
      *ngIf="communication"><i class="fa fa-microphone fa-3x" aria-hidden="true"></i></p>
    <p 
      class="negative" 
      *ngIf="!communication"><i class="fa fa-microphone-slash fa-3x" aria-hidden="true"></i></p>
  </div>
</div>