<h1 class="title col-md-12 text-center title">Win / Loss</h1>
<div *ngIf="!loading" class="selection-contianer text-center">
    <select class="text-center" (change)="mapSelected($event)">
        <option selected>All</option>
        <option *ngFor="let map of maps">{{map}}</option>
    </select>
</div>
<h4 class="text-center win-percent">Win Percentage: {{winPercentage}}%</h4>
<div class="win-lost-container col-md-12" *ngIf="!loading">
    <div *ngIf="show_all" class="col-md-12 all-container">
        <canvas baseChart
                    [datasets]="datasets"
                    [labels]="labels"
                    [colors]="colors"
                    [options]="options"
                    [legend]="true"
                    [chartType]="type"></canvas>
    </div>
    <div *ngIf="!show_all" class="col-md-12 map-container">
        <canvas class="doughnut-graph" baseChart
                    [data]="data"
                    [labels]="labels"
                    [colors]="colors"
                    [options]="options"
                    [legend]="true"
                    [chartType]="type"></canvas>
    </div>
</div>